{% extends "layout.html" %}

{% block title %}
    Playlist
{% endblock %}

{% block main %}
    <div class="section">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody>
                {% for name in names %}
                    <tr>
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}